// Colors
$primary-color: #567c9e;
$secondary-color: #3b3051;
$tertiary-color: #567c9e;
$quaternary-color: #fb6f43;
$quinary-color: #525252;
$senary-color: #f1f1f1;

// Font-color
$primary-ft: #393e46;
$secondary-ft: #ececec;

// Basics
$white: #fff;
